hello

<%-result[0].Name-%>
<form action="./edited-item" method="POST"><br/>
    <table><caption><h1>Registration Form</h1></caption>
        <tr>
            <input type="hidden" value=<%- result[0].id -%>>
            <td>Name:</td>
            <td><input type="text" name="name" placeholder=<%-result[0].Name-%>></td>
        </tr>
        <tr>
            <td> ParentsName:</td>
            <td><input type="text" name="parentsname" placeholder=<%-result[0].ParentsName-%>></td>
        </tr>
        <tr>
            <td> Address:</td>
            <td><input type="text" name="address" placeholder=<%-result[0].Address-%>></td>
        </tr>
        <tr>
            <td>Contact Number:</td>
            <td><input type="number" name="contactno" placeholder=<%-result[0].ContactNo-%>></td>
        </tr>
        
    </table>
   
   <input type="submit" id="submit" name="sbt-bttn">

</form>